body
  background-color #F6F6F6
  color #444

.section
  background-color white
  padding 1.875rem

.mt-row
  margin-top 2rem

@import "adapter/bootstrap.styl"
@import "framework/header.styl"
@import "framework/summary.styl"
@import "framework/attributes.styl"
@import "framework/download.styl"
@import "framework/footer.styl"
